<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Team Activity 03</p>
  </div>
</div>

<form action="/ta03/" method="POST">
  <label for="search">Search</label>
  <input type="text" id="search" name="search">

  <button type="submit" value="Submit">Search</button>

</form>

<div class="container">
  <% if (data.length > 0) { %>
    <% for (let dataInfo of data) { %>
    
    <div>
      <h2> 
        <%= dataInfo.name %>
      </h2>
    </div>

    <div>
      <img src="<%= dataInfo.imageUrl %>"
      alt="<%= dataInfo.name %>">
    </div>
    
    <div>
      <p>
        <%= dataInfo.description %>
      </p>
    </div>

    <div>
      <p>
        <%= dataInfo.price %>
      </p>
    </div>

    <div>
      <p>
        <%= dataInfo.tags %>
      </p>
    </div>


  <% } %>
  <% } %>

  
</div>


</body>
</html>
